<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="learningschool.rukina.learningschoolsp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity_hi"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Splash_hi"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activity.slide6" android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.slide1"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.slide2"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.slide3"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.slide4"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.slide5"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".utils.DashBoard_hi"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.PlateActivityOne"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.MatchPlateOne"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.MatchPlateTwo"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.MatchPlateThree"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.MatchPlateFour"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.MatchPlateFive"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.MatchPlateSix"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.MatchPlateSeven"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.MatchPlateRhyme"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.MatchPlateEight"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.MatchPlateNine"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.MatchPlateTen"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.MatchPlateEleven"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.PlateMade"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.PlateUse"
            android:screenOrientation="landscape"></activity>
        <!--<activity-->
            <!--android:name=".activity.plate.PlateWord"-->
            <!--android:screenOrientation="landscape"></activity>-->
        <activity
            android:name=".activity.plate.SeePlateInShop"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.WordPlateGame"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.plate.PlateVideo"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".activity.spoon.MatchSpoonOne"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonTwo"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonThree"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonFour"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonFive"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonSix"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonSeven"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonEight"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonNine"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonTen"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonEleven"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonTwelve"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonThirteen"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonFourteen"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonFifteen"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonSixteen"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonSeventeen"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.spoon.MatchSpoonEighteen"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".activity.soap.MatchSoapOne"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoapTwo"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap2"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap3"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap4"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap5"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap6"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap7"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap8"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap9"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap10"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap11"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap12"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap13"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap14"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.soap.MatchSoap15"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".activity.shirt.MatchShirtOne"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirtTwo"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt2"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt3"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt4"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt5"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt6"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt7"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt8"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt9"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt10"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt11"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt12"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt13"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt14"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt15"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt16"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shirt.MatchShirt17"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".activity.knife.MatchKnifeOne"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnifeTwo"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife2"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife3"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife4"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife5"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife6"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife7"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife8"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife9"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife10"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife11"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife12"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife13"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife14"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.knife.MatchKnife15"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".activity.bottle.MatchBottleOne"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle2"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle3"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle4"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle5"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle6"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle7"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle8"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle9"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle10"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle11"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle12"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle13"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle14"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle15"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle16"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.bottle.MatchBottle17"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".activity.shampoo.MatchShampooOne"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo2"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo3"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo4"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo5"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo6"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo7"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo8"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo9"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo10"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo11"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo12"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo13"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo14"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo15"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo16"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo17"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.shampoo.MatchShampoo18"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".activity.Tray.MatchTrayOne"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray2"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray3"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray4"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray5"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray6"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray7"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray8"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray9"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray10"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray11"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray12"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray13"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray14"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray15"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray16"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.Tray.MatchTray17"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".activity.lock.MatchLockOne"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock2"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock3"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock4"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock5"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock6"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock7"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock8"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock9"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock10"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock11"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock12"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock13"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock14"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock15"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.MatchLock16"
            android:screenOrientation="landscape"></activity>

        <!--<activity-->
            <!--android:name=".activity.lock.key.MatchLockKey"-->
            <!--android:screenOrientation="landscape"></activity>-->

        <activity
            android:name=".activity.lock.key.MatchKey1"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey2"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey3"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey4"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey5"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey6"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey7"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey8"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey9"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey10"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey11"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey12"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey13"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey14"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lock.key.MatchKey15"
            android:screenOrientation="landscape"></activity>

    </application>

</manifest>
